body {
  margin: 0;
  overflow: hidden;
}

canvas {
  display: block;
}

#score {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: white;
  z-index: 10;
}

#start-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: black;
  z-index: 10;
}
